<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Glorious Burgery Delivery</title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<main>
			<h1>Welcome to Glorious Burger Delivery</h1>

			<section>
				<h2>Select burger</h2>
				<p>
				This is where you select a burger to be delivered.
				</p>

				<table>
					<thead>
						<tr>
							<th>The Stocky Burger</th>
							<th>The Chicken Dream</th>
							<th>Hottern Tottern</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src="https://image.shutterstock.com/image-photo/plant-based-burger-sesame-bun-600w-1543584050.jpg" alt="The stocky burger" title="The stocky burger" height="150"></td>
							<td><img src="https://image.shutterstock.com/image-photo/studio-shoot-delicious-chicken-burger-600w-1502962535.jpg" alt="The chicken dream" title="The chicken dream" height="150"></td>
							<td><img src="https://image.shutterstock.com/image-photo/burger-600w-360983072.jpg" alt="Hottern Tottern" title="Hottern Tottern" height="150"></td>
						</tr>
						<tr>
							<td>
								<ul>
									<li>Vegetarian</li>
									<li>Contains lactose</li>
									<li>Contains gluten</li>
									<li>690 kCal</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>Contains palm oil</li>
									<li>Contains gluten</li>
									<li>720 kCal</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>Contains chili</li>
									<li>Contains gluten</li>
									<li>Contains lactose</li>
									<li>800kCal</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<h2>Customer Information</h2>
				<p>
				This is where you provide necessary information.
				</p>
			</section>

		</main>
		<hr>
		<footer>
			&copy; 2018 Hypothetical Burgers Inc.
		</footer>
	</body>
</html>
