body {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

.allergy {
	font-weight: bold;
}

#burgerselect {
	background-color: #000000;
	color: #FFFFFF;
}

#deliveryinfo {
}

button:hover {
	background-color: #DDDDFF;
	cursor: pointer;
}

table {
	width: 90%;
	margin: 0 auto;
}
