header {
	margin: 20px;
}

#headerimg {
	width: 100%;
	height: 200px;
	opacity: 0.3;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

.allergy {
	font-weight: bold;
}

#burgerselect {
	background-color: #000000;
	color: #FFFFFF;
	margin: 20px;
	border: 2px dashed #FFFFFF;
	padding: 20px;
}

#deliveryinfo {
	margin: 20px;
	border: 2px dashed #000000;
	padding: 20px;
}

button {
	margin-top: 50px;
}

button:hover {
	background-color: #DDDDFF;
	cursor: pointer;
}

table {
	width: 90%;
	margin: 0 auto;
}
